body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 3rem;
	line-height: 1.5;
}

h2 {
	font-family: 'Montserrat',sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: 900;
}

#title {
	background-color: #ff4c68;
	color : white;
	padding-bottom: 5%;
}

.container-fluid {
	padding : 3% 15%;
}

.navbar {
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 1.5rem;
}

.nav-link {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.download-btn {
	margin : 5% 3% 5% 0;
}

.title-img {
	width : 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 30%;
}

@media (max-width: 1119px) {
	#title {
		text-align: center;
	}
	.title-img{
		margin-top: 7%;
		position: static;
		transform: rotate(0);
	}
}

.feature-items {
	padding : 10% 3%;
	text-align: center;
}

.feature-icons {
	font-size: 5rem;
	color: #ef8172;
	padding-bottom: 5%;
}

.feature-icons:hover{
	color: #ff4c68;
}

.feature-para{
	color: #8f8f8f;
}

#features {
	background-color: white;
	position: relative;
}

#testimonials {
	background-color: #ff4c68;
	text-align: center;
	color: white;
}

.testimonial-img {
	width: 30%;
	border-radius: 100%;
	padding: 3%;
}

#press {
	background-color: #ff4c68;
	text-align: center;
	padding : 5%;
}

.press-img {
	width : 60%;
	padding: 5% 2%;
}

#pricing {
	text-align: center;
	padding-top : 7%;
	padding-bottom: 7%;
}

.card {
	height : 100%;
	border-color: #ff4c68;
}

.card-header {
	background-color: #ff4c68;
	color: white;
	border-bottom: 1px solid #ff4c68;
}

.card:hover {
	border-color: black;
	background-color: #ffebee;
}

.title-div {
	padding: 1%;
}

.card-section{
	margin-top: 5%;
}

#cta {
	padding-top : 6%;
	padding-bottom: 7%;
	text-align: center;
	background-color: #ff4c68;
	color: white;
}

#cta-title {
	font-size: 2.5rem;
}

#footer {
	text-align: center;
	background-color: white;
	color :;
}

.footer-icon{
	padding : 3% 1%;
	color: black;
}

.footer-icon:hover{
	color: #ff4c68;
}

#footer-para{
	color: #8f8f8f;
	font-size: 1rem;
	font-weight: 500;
	padding-bottom: 3%;
}

